---
- name: reload systemd
  ansible.builtin.systemd:
    daemon_reload: true

- name: restart crooked-keys
  ansible.builtin.systemd:
    name: crooked-keys
    state: restarted

- name: reload nginx
  ansible.builtin.systemd:
    name: nginx
    state: reloaded
