# .github/workflows/deploy.yml
name: Deploy on tag

on:
  push:
    tags:
      - 'v*'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install Ansible
        run: |
          python -m pip install --upgrade pip
          pip install ansible
      - name: Dry-run
        run: ansible-playbook -i ansible/inventory/hosts.ini ansible/site.yml --check -e "ansible_python_interpreter=/usr/bin/python3"
        env:
          ANSIBLE_HOST_KEY_CHECKING: "False"
